/* Base Styling */
html,
body {
  height: 100%;
  position: relative;
}

#container {
  min-height: 100%;
  position: relative;
}

.centerBlock {
  display: table;
  margin: auto;
}

.forcedWidth {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}

p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

#greet {
  color: #222;
  text-shadow: 0px 1px 2px #555;
  font-size: 4rem;
  word-wrap: break-word;
}

body {
  background: #E0E1DD;
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -30px;
  padding-bottom: 20px;
}

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
overflow: hidden;
display: block;
position: relative;
padding-bottom: 100px; /* height of your footer */

}

span {
  font-size: 15px;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 30px;
  /* Height of the footer */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 30px;
  /* Height of the footer */
  background: #1B263B;
  text-align: center;
  color: #999999;
  border-top: 5px solid #DD6031;
}

/* Misc Styling */
#shift, #shiftMenu {
  text-align: center;
}

/* Recent page */
#recentTab {
  text-align: center;
}

/* Admin Home Page */
#collapse_icon {
  padding-right: 1em;
}

#counts {
  color: #274E81;
  font-weight: bold;
  font-size: 1.2rem;
}

#cardLink {
  color: #DD6031;
  font-size: 1.3rem;
}

#cardLink:hover {
  text-decoration: none;
  color: #274E81;
}

#container {
  min-height: 100%;
  position: relative;
}

.centerBlock {
  display: table;
  margin: auto;
}

h3 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

#shift_header {
  color: #222;
  text-shadow: 0px 1px 2px #555;
  font-size: 4rem;
  text-align: center;
  word-wrap: break-word;
}

/* Custom style for modal on calendar page */
#modalheader {
  text-align: center;
}

.modal-content {
  background-color: #E0E1DD;
}

.modal-footer {
  margin: 0 auto;
  float: none;
}

#selected_time {
  font-size: 1.25rem;
  line-height: 1.5;
}

.ulhead {
  background-color: #2370B8;
  font-size: 1.2em;
  color: white;
}

#shift {
  color: black;
  padding-bottom: 10px;
  margin: 0;
}

#currentshift {
  font-weight: bold;
  font-size: 4rem;
  color: green;
}

/* Staff creation for CRUD page */
#staffbox {
  display: none;
}

/* Headers for chart page */
.jobheader {
  background: #274E81;
  border: 3px solid black !important;
  color: white;
  text-align: center;
}

.shiftheader {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
}

/* Custom Colors for navbar and main content*/
.pt-4, .py-4 {
  padding-top: 0rem !important;
  background-color: #E0E1DD;
}

.bg-dark {
  background-color: #1B263B !important;
  border-bottom: 5px solid #DD6031;
  min-height: 95px;
}

/* Custom button, container for admin page */
.card {
  height: 100%;
}

a.cards {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  height: 300px;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px #CFD0CA, 0 0 0 10px #FFF, 0 0 2px 11px #274E81;
}

.text {
  margin: 20px 0px;
}

#cardIcon {
  color: #274E81;
}

#shifts {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter i:first-child {
  font-size: 5em;
  opacity: 0.2;
}

.btn-group i:first-child {
  font-size: 1.2em;
  opacity: 1;
}


.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .card-import {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 16px;
  display: block;
  text-align: right;
}

.card-counter .btn-primary {
  margin-top: 3px;
  border: #BE5504;
  background-color: #BE5504;
}

.card-counter .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #733302;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

#admin_cards {
  color: white;
}

#admin_cards:hover {
  font-size: 90%;
  background: #555;
  color: #FF9B42;
}

label {
  color: white;
}

label:hover, label:active, input:hover+label, input:active+label {
    background: white;
    color: black;
}

.staff-admin {
  background-color: #6B818C;
}

.event-admin {
  background-color: #1B263B;
}

.change-admin {
  background-color: #95A3B3;
}

.shift-admin {
  background-color: #4B4E6D;
}

.user-admin {
  background-color: #4183D7;
}

.import-admin {
  background-color: #56476d;
  color: #FF9B42;
}

.custom-card {
  text-align: center;
  background-color: #103455;
  color: white;
  font-size: 1.3rem;
}

.custom-card-header {
  background-color: #0e2a43;
  border-bottom: 5px solid #E86F2A;
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

/* Container for home page if staff isn't found */
#home-nostaff {
  background: #FFF;
  border-radius: 0;
  padding: 60px 10px;
  margin-top: 10%;
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px #CFD0CA, 0 0 0 10px #FFF, 0 0 2px 11px #274E81;
  text-align: center;
  color: #274E81;
}

.title {
  padding-top: 15px;
}

/* Employee Home Page */
#table_image {
  border: 4px solid #BE5504;
  width: 100%;
}

.ulhead {
  background-color: #2370B8;
  font-size: 1.2em;
  color: white;
}

/* Custom containers for page content */
#crud_header {
  text-align: center;
}

#crud_box {
  background: #F5F5F5;
  padding: 10px 30px 30px 30px;
  border-radius: 0;
  margin: 30px 0px;
  box-shadow: 0 0 0 3px #F5F5F5, 0 0 0 5px #CFD0CA, 0 0 0 10px #F5F5F5, 0 0 2px 11px #274E81;
}

#login_box {
  background: #1B263B;
  padding: 10px 30px 30px 30px;
  border-radius: 0;
  color: white;
  margin: 30px 0px;
  box-shadow: 0 0 0 3px #1B263B, 0 0 0 5px #CFD0CA, 0 0 0 10px #1B263B, 0 0 2px 11px #274E81;
}

/* Set color of right icon for datepicker */
[role=right-icon] {
  background-color: #e9ecef;
}

#rIcon {
  color: #495057;
}

/* Custom hr */
.crud_hr {
  border-top: 2px solid #DD6031;
  padding-bottom: 10px;
}

.blue_hr {
  border-top: 2px solid #274E81;
  padding-bottom: 10px;
  min-width: 200px;
}

.orange_hr {
  border-top: 2px solid #DD6031;
  padding-bottom: 5px;
  min-width: 200px;
}

/* Custom CRUD table styling */
.crud_table {
  text-align: center;
}

.custom_border {
  border: 2px solid #1B263B;
}

.crud_head {
  background-color: #1B263B;
  text-align: center;
  font-size: 1.3em;
  color: white;
  border: 2px solid #1B263B;
}

/* Shift list page styling */
.list_head {
  background-color: #1B263B;
  font-size: 1.1em;
  color: white;
}

.circle-tile {
  text-align: center;
  padding: 0px !important;
}

.circle-tile-heading {
  border: 4px solid rgba(232, 111, 42, 0.6);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  width: 80px;
  font-size: 3.2em;
  border-bottom: 4px solid orange;
}

.badge-secondary, .btn-secondary {
  background-color: #1B263B;
}

.btn-outline-secondary {
  color: #1B263B
}

.circle-tile-heading .fa {
  line-height: 80px;
}

.circle-tile-content {
  padding-top: 50px;
  padding-bottom: 0px;
  border-top: 3px solid orange;
}

.circle-tile-number {
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 0 15px;
}

.circle-tile-description {
  text-transform: uppercase;
}

.circle-tile-heading.dark-blue:hover {
  background-color: #2E4154;
}

.circle-tile-heading.blue:hover {
  background-color: #2473A6;
}

.tile-img {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
  background-color: #34495E;
}

.darker-blue {
  background-color: #1B263B;
}

.blue {
  background-color: #2980B9;
}

.text-dark-blue {
  color: #34495E;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

.list_tablehead {
  padding: 0px;
  border-bottom: 4px solid orange;
}

.list_border {
  outline: 2px solid #1B263B;
  outline-offset: -2px;
}

.list_top {
  padding-bottom: 20px;
}

/* Custom Bootstrap buttons */
.btn-primary {
  background-color: #0B3C5D;
  border-color: #0B3C5D;
}

.btn-danger {
  background-color: #E86F2A;
  border-color: #E86F2A;
}

.btn-danger:hover, .btn-primary:hover {
  color: #fff;
  background-color: silver;
  border-color: silver;
}

.crud_btn {
  display: inline-block;
}

.btn-default {
  color: #007aff;
  background-color: #fff;
  border-color: #007aff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.btn-default.dropdown-toggle {
  color: #fff;
  background-color: #007aff;
  border-color: #007aff;
}

.btn-primary {
  color: #FFFFFF;
  background-color: #274E81;
  border-color: #1B263B;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #FFFFFF;
  background-color: #192E54;
  border-color: #1B263B;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #274E81;
  border-color: #1B263B;
}

.btn-primary .badge {
  color: #274E81;
  background-color: #FFFFFF;
}

.btn-danger {
  color: #FFFFFF;
  background-color: #DD6031;
  border-color: #5E210A;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: #FFFFFF;
  background-color: #5E210A;
  border-color: #5E210A;
}

.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  background-image: none;
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #DD6031;
  border-color: #5E210A;
}

.btn-danger .badge {
  color: #DD6031;
  background-color: #FFFFFF;
}

.btn-outline-secondary {
  color: #1B263B;
  border-color: #1B263B;
}

.btn-outline-secondary:hover {
  background-color: #1B263B;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2d4063;
  border-color: #2d4063
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem hsla(208, 51%, 30%, .5);
  box-shadow: 0 0 0 .2rem hsla(208, 51%, 30%, .5);
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
  -webkit-box-shadow: 0 0 0 .2rem hsla(208, 51%, 30%, .5);
  box-shadow: 0 0 0 .2rem hsla(208, 51%, 30%, .5)
}

.btn-outline-info {
  color: #BE5504;
  border-color: #BE5504;
}

.btn-outline-info:hover {
  background-color: #BE5504;
  border-color: #BE5504;
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show>.btn-outline-info.dropdown-toggle {
  color: #fff;
  background-color: #e46605;
  border-color: #e46605
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-info.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(224, 138, 40, .5);
  box-shadow: 0 0 0 .2rem rgba(224, 138, 40, .5)
}

.btn-outline-info.focus, .btn-outline-info:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(224, 138, 40, .5);
  box-shadow: 0 0 0 .2rem rgba(224, 138, 40, .5)
}

/* Customized search input so it doesn't shrink on small screen */
#search {
  min-width: 200px;
  padding: 10px;
  margin-bottom: 20px;
}

/* FullCalendar Customization */
.fc-head {
  background-color: #1B263B;
  color: white;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
  border-color: #1B263B;
}

/* Custom colors for success alert */
.alert-success {
  background-color: #3f704d;
  border-color: #FFF;
  color: white;
  text-align: center;
}

/* Customization for verification & forgot password page */
.verify {
  text-align: center;
  font-size: 1.4em;
}

#verifylink {
  color: #DD6031;
}

#verifylink:hover {
  color: #274E81;
  text-decoration: none;
}

.dropdown-header {
  font-size: 1em;
  color: #FFF;
  padding: .12rem .5rem !important;
  border-bottom: 3px solid orange;
}


.dropdown-menu {
  background-color: #2b3d5e;
  color: white;
  min-width: 1rem;
  text-align: center;
  margin-top: -5px;
}

.dropdown-menu h6 {
  color: orange;
  margin-top: -5px;
}

.dropdown-item {
  color: white;
}

.btn-secondary:hover, .btn-secondary:active {
  background-color: #273756;
}

.btn-secondary.focus, .btn-secondary:focus {
  -webkit-box-shadow: 0;
  color: orange;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #273756;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-color: #273756
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #FFF;
  color: #1B263B;
}

#list_btn {
  width: 61px;
}

.forgotpassword {
  color: #e46605;
}

/* Upload Button */
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.btn-secondary + .tooltip > .tooltip-inner {background-color: red;}

/* Job Colors */

.job-color-1 {
  background: #85c1cc;
}

.job-color-2 {
  background: #7a93b0;
}

.job-color-3 {
  background: #b3a78f;
}

.job-color-4 {
  background: #ff555d;
}

.job-color-5 {
  background: #8cabe1;
}

.job-color-6 {
  background: #a1bfdc;
}

.job-color-7 {
  background: #698b80;
}

.job-color-8 {
  background: #eeea88;
}

.btn-custom {
  background: #1B263B;
  border-color: #1B263B;
  height: 2em;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open>.btn-custom.dropdown-toggle {
  color: orange;
  outline: none !important;
  box-shadow: none !important;
  background-color: #354c77;
  border-color: #354c77;
  -webkit-box-shadow: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#added_absence {
  display: none;
}

#marker {
  width: 100px;
  height: 100px;
  background: red;
}

.alert-custom{
  background-color: #B22222	;
  width: 50%;
  border: 2px solid black;
  text-align: center;
}

#alert_text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  background-color: #B22222;
  color: white;
  padding: 15px;
}

.nav_img {
  height: 100px;
  width: 100px;
}
