#shiftA, #shiftB, #shiftC, #shiftD {
  background-color: rgb(77, 140, 87);
  text-align: center;
  font-size: 3rem;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 100px;
  margin: 0 auto;
  font-family: Raleway;
}

h3 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

#shift, #shiftMenu {
  text-align: center;
}

#collapseTitle {
  font-weight: bold;
}

.no-bottom-border td {
  border-bottom: none;
  border-top: none;
}

#recentTab {
  text-align: center;
}

#login_header {
  background-color: #0e2a43;
  border-bottom: 5px solid #E86F2A;
  color: white;
  font-size: 1rem;
}

#login_container {
  background-color: black;
}

#login_body {
  background-color: #103455;
  color: white;
}

#counts {
  color: #274E81;
  font-weight: bold;
  font-size: 1.2rem;
}

#cardLink {
  color: #DD6031;
  font-size: 1.3rem;
}

#cardLink:hover {
  text-decoration: none;
  color: #274E81;
}

#container {
  min-height: 100%;
  position: relative;
}

.centerBlock {
  display: table;
  margin: auto;
}

.forcedWidth {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}

#header {
  padding: 10px;
}

#body {
  padding: 10px;
  padding-bottom: 30px;
  /* Height of the footer */
}

#footer {
  position: static;
  clear: both;
  height: 30px;
  bottom: 0;
  width: 100%;
  /* Height of the footer */
  background: #1B263B;
  text-align: center;
  color: #999999;
  border-top: 5px solid #DD6031;
}

#greet {
  color: #222;
  text-shadow: 0px 1px 2px #555;
  font-size: 4rem;
  word-wrap: break-word;
}

#shift_home {
  text-align: center;
  font-size: 1.5em;
  color: black;
  height: 343px;
  border: 3px solid #8B4219;
}

#items {
  border-bottom: 3px solid #103455;
  border-left: 3px solid #103455;
  border-right: 3px solid #103455;
}

#shifthome_header {
  background-color: #8B4219;
  color: white;
}

#shift_header {
  color: #222;
  text-shadow: 0px 1px 2px #555;
  font-size: 4rem;
  text-align: center;
  word-wrap: break-word;
}

.card {
  height: 100%;
}

body {
  background: #E0E1DD;
  height: 100%;
}

span {
  font-size: 15px;
}

a.cards {
  text-decoration: none;
  color: #0062cc;
  border-bottom: 2px solid #0062cc;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #FFF;
  height: 300px;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
  box-shadow: 0 0 0 3px #FFF, 0 0 0 5px #CFD0CA, 0 0 0 10px #FFF, 0 0 2px 11px #274E81;
}

.text {
  margin: 20px 0px;
}

#cardIcon {
  color: #274E81;
}

#shifts {
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

.modal-content {}

#modalheader {
  text-align: center;
}

.modal-footer {
  margin: 0 auto;
  float: none;
}

.btn-primary {
  background-color: #0B3C5D;
  border-color: #0B3C5D;
}

.btn-danger {
  background-color: #E86F2A;
  border-color: #E86F2A;
}

.btn-danger:hover, .btn-primary:hover {
  color: #fff;
  background-color: silver;
  border-color: silver;
}

#selected_time {
  font-size: 1.25rem;
  line-height: 1.5;
}

#rIcon {
  color: #495057;
}

.ulhead {
  background-color: #2370B8;
  font-size: 1.2em;
  color: white;
}

#shift {
  color: black;
  margin: 0;
}

#currentshift {
  font-weight: bold;
  font-size: 4rem;
  color: green;
}

#newemployee {
  text-align: center;
}

#staffbox {
  display: none;
}

.jobheader {
  background: #274E81;
  border: 3px solid black !important;
  color: white;
  text-align: center;
}

.shiftheader {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
}

#collapse_icon {
  padding-right: 1em;
}

#crud_header {
  text-align: center;
}

/* Custom Colors */
.pt-4, .py-4 {
  padding-top: 0rem !important;
  background-color: #E0E1DD ;
}

.bg-dark {
  background-color: #1B263B !important;
  border-bottom: 5px solid #DD6031;
  height: 95px;
}

#app {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -30px;
  padding-bottom: 20px;
}

.card-counter {
  box-shadow: 2px 2px 10px #DADADA;
  margin: 5px;
  padding: 20px 10px;
  background-color: #fff;
  height: 100px;
  border-radius: 5px;
  transition: .3s linear all;
}

.card-counter:hover {
  box-shadow: 4px 4px 20px #DADADA;
  transition: .3s linear all;
}

.card-counter.primary {
  background-color: #007bff;
  color: #FFF;
}

.card-counter.danger {
  background-color: #ef5350;
  color: #FFF;
}

.card-counter.success {
  background-color: #66bb6a;
  color: #FFF;
}

.card-counter.info {
  background-color: #26c6da;
  color: #FFF;
}

.card-counter i {
  font-size: 5em;
  opacity: 0.2;
}

.card-counter .count-numbers {
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 32px;
  display: block;
}

.card-counter .count-name {
  position: absolute;
  right: 35px;
  top: 65px;
  font-style: italic;
  text-transform: capitalize;
  opacity: 0.5;
  display: block;
  font-size: 18px;
}

#admin_cards {
  color: white;
}

#admin_cards:hover {
  font-size: 90%;
  background: #555;
  color: #FF9B42;
}

.staff-admin {
  background-color: #6B818C;
}

.event-admin {
  background-color: #1B263B;
}

.change-admin {
  background-color: #95A3B3;
}

.shift-admin {
  background-color: #4B4E6D;
}

.user-admin {
  background-color: #4183D7;
}
