html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}



#container {
  min-height: 100%;
  position: relative;
}

.centerBlock {
  display: table;
  margin: auto;
}

.forcedWidth {
  width: 200px;
  word-wrap: break-word;
  display: inline-block;
}
